body{
    background: #c9f4ff;
}


.header{
    width: 100%;
    padding: 20px 20px;
    z-index: 10;
    top: 0;
    left: 0;
    display: flex;
    background-color: #0b3553;
    align-items: center;
    gap: 40px;
}

.logo img{
    height: 150px;
}

.menu{
    display: flex;
    gap: 20px;
}
/* 
menu ul{
    display: flex;
    list-style: none;
    gap: 15px;
} */

menu li{
    display: inline-block;
}

.menu li a{
    color: white;
    padding: 10px;

}